body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}

/* Background */

.background{
    z-index: -1;
    position: fixed;
    width: 100%;
}

.background>img{
    
    width: 100%;
}

/*---------------*/

header {
    backdrop-filter: blur(20px);
    text-align: center;
    padding: 10px;
    
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main {
    margin: 20px;
}

.imagenes{
    display: flex;
}

.imagenes

.imagenes > div{
    padding: 2%;
}

.imagenes img {
    width: 100%;
    max-width: 400px;
}

footer {
    text-align: center;
    margin-top: 20px;
    backdrop-filter: blur(20px);
    padding-top: 1%;
    padding-bottom: 1%;
    
}
